* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.react-flow-provider-wrapper {
  height: 90vh;
  width: 80vw;
}

.canvas-wrapper {
  height: 90vh;
  width: 80vw;
}

.sidebar-wrapper {
  height: 90vh;
  width: 20vw;
}

.canvas {
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 100%;
  border-left: 1px solid lightgray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-footer > .save-btn {
  padding-block: 0.5rem;
  width: 70%;
}

.drag {
  cursor: grab;
}

.drag:active {
  cursor: grabbing;
}

.node-card {
  border: 1px solid lightgray;
}

.text-node:active,
.active {
  outline: 3px solid lightblue !important;
  border-radius: 5px;
  outline-offset: 3px;
}

.node-settings h4 {
  margin-bottom: 1rem;
}

.debug-info {
  position: absolute;
  top: 7%;
  left: 10px;
  padding: 0.2rem 1rem 1rem 1rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  z-index: 100;
  font-size: 12px;
  line-height: 16px;
}

.debug-info .small {
  text-transform: capitalize;
  font-weight: 600;
  color: lightgray;
  font-size: smaller;
}
